@import "tailwindcss";

:root {
  --background: #F5FAFD;
  --foreground: #10253A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}

body {
  background: var(--background);
  color: var(--foreground);
}
